html, body{
    margin: 20px;
    font-family: Lato;
}
.container{
    background-color: #f5ceee;
    background-image: linear-gradient(90deg, #f5ceee 0%, #f9f9f9 50%);
    height: 800px;
    border: solid;
    display: flex;
}
.player-content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 10px;
}
.player{
    font-size: 50px;
}
.score-total{
    font-size: 100px;
    color: rgb(114, 6, 6);
}

.current-box{
    width: 150px;
    height: 100px;
    background-color: #bb3c2c;
    align-self: center;
    transform: translateY(350%);
    font-size: 20px;
}
.score{
    font-size: 35px;
    color: white;
}
.player, .score-total{
   transform: translateY(150%);
}
.game-set{
    flex-direction: column;
    display: flex;
}
.newgame{
    margin-top: 60px;
}
.dice{
    transform: translateY(190%);
    margin: 30px;
}
.roll, .hold{
    transform: translateY(850%);
}
.icon{
    height: 20px;
    width: auto;
    align-self: center;
}
  